<!DOCTYPE html>
<html lang="en">
<head>
    {{> defaultHeadTags}}
    {{#each assets.css}}
    <link rel="stylesheet" href="/assets/css/{{this}}">
    {{/each}}
    <title>ClasseViva Lite</title>
</head>
<body>
    {{#each assets.js}}
    <script src="/assets/js/{{this}}"></script>
    {{/each}}
</body>
</html>
