<!DOCTYPE html>
<html lang="en">
<head>
    {{> defaultHeadTags}}
    {{#each assets.css}}
    <link rel="stylesheet" href="/assets/css/{{this}}">
    {{/each}}
    <title>ClasseViva Lite</title>
</head>
<body>
    {{> header}}
    <form>
        <label for="uid">
            Codice personale / Email / Badge
            <input type="text" id="uid">
        </label>
        <label for="pwd">
            Password
            <input type="password" id="pwd" autocomplete="current-password">
        </label>
        <button type="submit">Conferma</button>
    </form>
    {{#each assets.js}}
    <script src="/assets/js/{{this}}"></script>
    {{/each}}
</body>
</html>
